<footer>
    <div class="  container-fluid divfooter  ">
    <div class="row">
        <div class=" div1 col-sm-2 col-md-2 col-lg-2">
            <img   src="assets/image/logo.png" alt="">
            <br> <br>
            <p>Esteem spirit temper too say adieus who
                direct esteem. It esteems luckily or
                picture placing drawing.</p>
                <div class="socail_links">
                    <ul>
                        <li>
                            <a href="#">
                                <i class="ti-faacebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>


        </div>
        <div class=" div2 col-sm-2 col-md-2 col-lg-2">
            
           <ul>
               <li>
            <h3>Services</h3></li>
               <li>SEO/SEM</li>
               <li> Web design</li>
               <li>Ecommerce</li>
                <li> Digitalmarketing</li>
               
           </ul>


        </div>
        <div class=" div2 col-sm-2 col-md-2 col-lg-2">
            
            <ul>
                <li>
             <h3> UsefulLinks</h3></li>
                <li>About</li>
                <li> Blog</li>
                <li>Contact</li>
                 <li> Support</li>
                
            </ul>
 
 
         </div>

        
        <div class=" div2 col-sm-5 col-md-5 col-lg-5">
            <ul>
                <li>
                    <h3>Subscribe</h3></li>
                 <li><div class=" form input-group mb-3">
                    <input input type="text" placeholder="Enter your mail">
                    <div class="input-group-append">
                        <span class=" span0 btn input-group-text span1" id="basic-addon2">Search</span>
                    </div>
                </div>
                    <!-- <form action="#" class="newsletter_form">
                    <input  class="inp" type="text" placeholder="Enter your mail">
                    <button class="btn" type="submit">Subscribe</button>
                </form>  -->
    </li>
    <li>
        <p>Esteem spirit temper too say adieus who direct esteem esteems luckily.</p>
    </li>
                
                
            </ul>
 
           
            

        </div>




    </div>


<div class="div3">
<p class="footerpar">Copyright ©2019 All rights reserved | This template is made with  by <span>Colorlib</span></p>
</div>
</div>
</footer>