<header class="head">
    <h3>Contact US</h3>
</header>
<section>
    <h3>Our Team</h3>

    <div class=" div1 container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-3">
                <img src="assets/image/team/3.png">
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <img src="assets/image/team/2.png">
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <img src="assets/image/team/3.png">
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <img src="assets/image/team/2.png">
            </div>
        </div>

    </div>



    

</section>
<div class="div3">
<div class="sprayed_area overlay">
        
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="text div5 text-center">
                    <h3>Sprayed Your Business with Us </h3>
                    <p>Esteem spirit temper too say adieus who direct esteem. It esteems luckily or picture placing
                        drawing <br> apartments frequently or motionless.</p>
                    <a href="#" class=" btn btn-danger boxed-btn2">Add Your Business</a>
                </div>
            </div>
        </div>
    </div>
</div></div>
