header{
    /* background-image: url(assets/image/bghome.png); */
    background: #001D38;
    padding-bottom: 100px;
}
.headerp{
   
    color:  #F91842;
    text-align: center;
   padding-top: 150px;
   font-size: 30px;
   
}
header h1{
    font-family: "Shadows Into Light", cursive;
    font-size: 40px;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-weight: 300;
    line-height: 70px;
    margin-bottom: 70px;
    color: #fff;
    text-align: center;
    font-style: italic;
}
.form{
    margin: auto;
  
 
    padding-left: 75px;
}
input{
    width: 70%;

}
.btn1{
    background:  #F91842;
    color: white;
}
.divbtns{
    text-align: center;
    color: white;
    

    }
    .divbtns button{
        background: rgba(255, 255, 255, 0.2);
        margin-right: 20px;
color: white;
    }
    .section1{
        text-align: center;
        padding-top: 50px;
    }
    .section1 p{
        color:  #F91842;
       
    }
    .span1{
        background: #F91842;
        color: white;
    }
    .section1 h3{
        font-size: 10px;
    line-height: 30px;

font-family: cursive;

    font-size: 30px;
    font-weight: 200;
    color: #001D38;
    position: relative;
    z-index: 0;
    padding-bottom: 19px;
    }
    img{
        margin: 20px;

    }
    .sprayed_area{
       
        padding-top: 100px;
        background-image: url(src/assets/image/9.png);
        padding-bottom: 150px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin: 40px;
    }
    .sprayed_area p,h3 {
        color: white;
    }
    .sprayed_area h3 {
        color: white !important;
    }
    .overlay::before {
        position: absolute;
        content: "";
        background-color: #001D38;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: .5;
    }
    .overlay {
        position: relative;
        z-index: 0;
    }
    .section2{
        text-align: center;
        padding: 30px;
    }
    .section2 p{
        color: #F91842;
    }
    .section2 h3{
        color: #001D38;
        font-style: italic;}